/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/messenger.css");

.inline-notification-wrapper {
  max-width: 95vw;
}

description {
  padding-inline: 2px;
}

.identity-legend {
  margin-block: 0;
}

.dialogheader-title {
  margin-block: 0 8px;
  margin-inline-start: 0;
  font-size: 1.46em;
  font-weight: 300;
  line-height: 1.3em;
  color: var(--in-content-text-color);
}

.wizard-section {
  transition: transform 230ms ease, opacity 230ms ease;

  &.hide {
    transform: translateY(-100%);
    opacity: 0;
  }

  &.hide-reverse {
    transform: translateY(100%);
    opacity: 0;
  }
}

.grid-size {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
}

.overlay {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: start;
  background-color: var(--in-content-page-background, -moz-dialog);
  inset: 0;
  z-index: 1;
}

#keySize {
  width: 7em;
}

#importLoading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.self-center {
  align-self: center;
}

.loading-status {
  width: 16px;
  height: 16px;
}

#wizardCreateKey.in-subdialog {
  /*
   * Prevent the subdialog from growing too tall if the section doesn't have
   * an initial height.
   */
  height: 1px;
}

/* Import key list */

#keyListCount {
  font-weight: bold;
}

#importKeyList {
  display: grid;
  row-gap: 6px;
  margin: 18px 6px 9px;
}

.key-import-row {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: end;
  border-radius: 4px;
  padding: 3px 6px;
  border: 1px solid var(--in-content-border-color);
  background-color: rgba(215, 215, 219, 0.2);
  margin-bottom: 6px;

  &.selected {
    border: 1px solid #45A1FF;
    background-color: rgba(69, 161, 255, 0.2);
    margin-bottom: 0;
  }
}

.openpgp-key-id {
  font-weight: bold;
}

.openpgp-key-name {
  font-size: 0.9em;
  text-wrap: auto;
  padding-inline-end: 6px;
}

.openpgp-image-btn .button-icon {
  margin-inline-end: 4px;
  -moz-context-properties: fill;
  fill: currentColor;
}

.openpgp-props-btn {
  list-style-image: url("chrome://messenger/skin/icons/developer.svg");
}

.extra-information-label {
  display: grid;
  grid-template-columns: auto minmax(360px, max-content);
  row-gap: 5px;
  align-items: baseline;
  margin-inline-end: 10px;

  & > label:not(.extra-information-label-type) {
    text-wrap: wrap;
  }
}

.extra-information-label-type {
  font-weight: 600;
  margin-inline-end: 4px;
}

.tip-caption {
  color: var(--in-content-deemphasized-text);
  font-size: .9em;
}

.description-centered {
  text-align: center;
  margin-inline: 20px;
}

.input-container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  & input:not([type="number"],[type="color"]) {
    flex: 1;
  }
}

menupopup[needsgutter] > :is(menu, menuitem)::before {
  display: none;
}
